<html>
<body>
<h1>List of Foo</h1>
<ul>
    {% for object in object_list %}
    <li>{{object.name}} ({{object.category}} - {{object.get_category_display}} - [{{object.date}}] - {{object.weight}}kg)</li>
    {% endfor %}
</ul>
</body>
</html>